<!DOCTYPE html>
<html>
<head>
  <title>Hogwarts School System Software
  Powered by Majik!</title>
</head>
<body>
  <table>
  <td>
    <tr> <a href = '/'>Home </a></tr>
    <tr> <a href = '/show_students'>Student List</a></tr>
    <tr> <a href = '/show_houses'>Houses</a></tr>
  </td>
  </table>
  <h2>Hogwarts School System</h2>
  <p> Choose an action: </p>
  <a href='/show_students'>Show students</a>
  <br>
  <a href='/show_houses'>Show houses</a>
</body>
</html>